body {
    font-family: 'Times New Roman', Times, serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  h1 {
    color: #ac5605;
    text-align: center;
  }
    
#contenedor-izquierdo {
	background-color:   #F9E79F ;
	width: 15%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
    }

	

#contenedor-derecho {
	background-color: #F9E79F;
	width: 15%;
	height: 100%;
	right: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
    }
.contenedor-componente {    
	position: relative;
	height: 35%;
	left: 0px;
    }

.componente {
	position: absolute;
	width: 75px;
	max-height: 75px;
	z-index: 2;
	
    }
.cielo {
	height: 80%;
	width: 60%;
	background: #F7DC6F;
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: 20%;
	opacity: 0.5;
	z-index: 1;
    }

.suelo {
	width: 60%;
	height: 45%;
	background: #52BE80;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 20%;

	z-index: -1;
    }